<a href="https://colab.research.google.com/github/StevvAgri/Steven/blob/main/pengulangan_pyhton_%26_p5_2c1240019.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Tugas 2

In [ ]:
# Program Sum Kelipatan 5
# Menerima masukan N bilangan integer positif
# dan menampilkan penjumlahan semua bilangan kelipatan 5 antara 1 s.d N

# Kamus
# N = int
# i, sum = int

# Algoritma
N = int(input())
i = 1
sum = 0

while i <= N:
    if i % 5 == 0:
        sum = sum + i
    i = i + 1
print(sum)

20
50

Tugas 3

In [ ]:
# Versi 1
N = 5  # Ganti N dengan jumlah awal anak ayam yang diinginkan

for i in range(N, 0, -1):
  print(f"Anak ayam turunlah {i}")
  print(f"Mati satu tinggallah {i-1}")
print("Mati satu tinggal induknya")

Anak ayam turunlah 5
Mati satu tinggallah 4
Anak ayam turunlah 4
Mati satu tinggallah 3
Anak ayam turunlah 3
Mati satu tinggallah 2
Anak ayam turunlah 2
Mati satu tinggallah 1
Anak ayam turunlah 1
Mati satu tinggallah 0
Mati satu tinggal induknya

In [ ]:
# Versi 2

N = 5  # Ganti N dengan jumlah awal anak ayam yang diinginkan

i = N
while i > 0:
  print(f"Anak ayam turunlah {i}")
  print(f"Mati satu tinggallah {i-1}")
  i -= 1
print("Mati satu tinggal induknya")

Anak ayam turunlah 5
Mati satu tinggallah 4
Anak ayam turunlah 4
Mati satu tinggallah 3
Anak ayam turunlah 3
Mati satu tinggallah 2
Anak ayam turunlah 2
Mati satu tinggallah 1
Anak ayam turunlah 1
Mati satu tinggallah 0
Mati satu tinggal induknya

In [ ]:
# Versi 3

N = 5  # Ganti N dengan jumlah awal anak ayam yang diinginkan

# Menggunakan for untuk bagian awal
for i in range(N, 3, -1):
  print(f"Anak ayam turunlah {i}")
  print(f"Mati satu tinggallah {i-1}")

# Menggunakan while untuk bagian akhir
i = 2
while i > 0:
  print(f"Anak ayam turunlah {i}")
  print(f"Mati satu tinggallah {i-1}")
  i -= 1
print("Mati satu tinggal induknya")

Anak ayam turunlah 5
Mati satu tinggallah 4
Anak ayam turunlah 4
Mati satu tinggallah 3
Anak ayam turunlah 2
Mati satu tinggallah 1
Anak ayam turunlah 1
Mati satu tinggallah 0
Mati satu tinggal induknya

P5

In [ ]:
# SoalSatu
Sisi = 12
S = 12
luas = Sisi * S
print(luas)

144

In [ ]:
# soalDua

namaDepan = "Steven"
namaTengah = "Wanderson"
namaBelakang = "Hutabarat"
nama = namaDepan + " " + namaTengah + " " + namaBelakang
NIM = "2C1240019"
Fakultas = "Sains Dan Teknologi"
Jurusan = "Agribisnis"
kotaAsal = "Jambi"
alamat = "Jatinangor"
print("Biodata_Mahasiswa\n", nama, "\n", NIM, "\n", Fakultas, "\n", Jurusan, "\n", kotaAsal, "\n", alamat)

Biodata_Mahasiswa
 Steven Wanderson Hutabarat
 2C1240019
 Sains Dan Teknologi
 Agribisnis
 Jambi
 Jatinangor